@import url('https://api.fontshare.com/v2/css?f[]=hind@400&f[]=khand@700&display=swap');

@import "tailwindcss";

@theme {
    --font-header: 'Khand', sans-serif;
    --font-body: 'Hind', sans-serif;
}

html, body, #root {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}
